{% load staticfiles %}
<HTML>
<head>
	<title>WorkIn Workouts</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/gymtrack.css' %}">
</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top" id="topbar">
			<h1><a href="/">WorkIn Workouts</a></h1>
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</HTML>