{% extends 'gymtrack/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col col-md-2">

				<a href="{% url 'workout_list' %}">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</button>
				</a>
			
		</div>
		<div class="col col-md-8 text-center"><h3>Worked out at {{ workout.gym }}</h3></div>
		<div class="col col-md-2"></div>
	</div>

	<div class="row">
		<div class="col col-md-8">
			<p>{{ workout.workout_time }}</p>
		</div>
		<div class="col col-md-2">
			<a href="{% url 'exercise_add' pk=workout.pk %}">
				<button type="button" class="btn btn-success">
						Add Exercise	
				</button>
			</a>
		</div>
		<div class="col col-md-2">
			<a href="{% url 'workout_delete' pk=workout.pk %}">
				<button type="button" class="btn btn-danger" onclick="clicked(event)">
					Delete Workout
				</button>
			</a>
		</div>
	</div>
	<div class="row">
		<table class="table table-bordered table-striped table-condensed">
			<tr>
				<th>Exercise</th>
				<th>Max Weight</th>
				<th>Sets</th>
				<th>Reps/Set</th>
				<th>Duration</th>
				<th colspan="2">Edit</th>
			</tr>
			{% for exercise in workout.exercise_set.all %}
			<tr>
				<td>{{ exercise.get_name_display }}</td>
				<td>{{ exercise.max_weight }}</td>
				<td>{{ exercise.num_sets }}</td>
				<td>{{ exercise.reps_per_set }}</td>
				<td>{{ exercise.duration }}</td>
				<td><a href = "{% url 'exercise_edit' pk=exercise.pk %}"><button type="button" class="btn btn-primary">Edit</button></a></td>
				<td><a href = "{% url 'exercise_delete' pk=exercise.pk %}"><button type="button" onclick="clicked(event)" class="btn btn-danger">Delete</button></a></td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<script>
		function clicked(e)
		{
    		if(!confirm('Are you sure?'))e.preventDefault();
		}
	</script>
</div>
{% endblock %}